[
  {
    :title "item 1"
    :description "Item 1 should have 1 link"
    :links [
      {
        :title "Silk Home Page"
        :href "http://www.silkyweb.org"
        :contents [
          {:description "content 1"}
        ]
      }
    ]
  } {
    :title "item 2"
    :description "Item 2 should have 4 links"
    :links [
      {
        :title "Blank Template Example"
        :href "http://silk-web-toolkit.github.io/blank-template/"
        :contents [
          {:description "content 1"}
          {:description "content 2"}
        ]
      }
      {
        :title "Sourced Component Example"
        :href "http://silk-web-toolkit.github.io/sourced-component/"
        :contents [
          {:description "content 1"}
          {:description "content 2"}
          {:description "content 3"}
        ]
        :same-levels [
          {:description "Hey look at me I'm on the same level"}
        ]
      }
      {
        :title "Tree Component Example"
        :href "http://silk-web-toolkit.github.io/tree-component/"
        :contents [
          {:description "content 1"}
          {:description "content 2" :subs [{:node "Im a sub node"}]}
          {:description "content 3"}
          {:description "content 4"}
        ]
      }
      {
        :title "Blog Example"
        :href "http://silk-web-toolkit.github.io/blog/"
        :contents [
          {:description "content 1"}
          {:description "content 2"}
          {:description "content 3"}
          {:description "content 4"}
          {:description "content 5"}
        ]
      }
    ]
  }
]
